.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;

}

.nav-links li {
    display: inline-block;
    margin: 0 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
    border-bottom: 2px solid transparent;
    position: relative;
}

.nav-links a::before {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    border-bottom: 2px solid #ffd700;
    transition: 0.3s;
}

/* Add hover effect for nav links */
.nav-links a:hover {
    color: #ffd700;
}
.nav-links a:hover::before {
    width: 100%;
}