.header {
    position: relative; 
    background-color: #050505;
    background-size: cover;
    background-position: center;
    padding: 250px;
    text-align: center;
    color: rgb(26, 24, 24);
    z-index: 1; 
  
    padding: 20px 0 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}


.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    font-size: 36px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    color: #333; 
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid #333; 
    border-radius: 8px; 
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.header .logo:hover {
    color: #ffd700; 
    border-color: #ffd700;
    transform: scale(1.05); 
}

.header .logo span:first-letter {
    font-size: 42px;
    font-weight: bold;
    color: #555;
}

/* Декоративний елемент: тонка лінія під текстом */
.header .logo::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 10%;
    width: 80%;
    height: 2px;
    background-color: #333;
    border-radius: 2px;
    transition: background-color 0.3s;
}

.header .logo:hover::after {
    background-color: #ffd700;
}

.register-icon-link {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .username {
    font-size: 14px;
    font-weight: bold;
    color: white;
  }
  
