body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #050505;
    scroll-behavior: smooth;
  }
  
  header {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Header */
  .header {
    position: relative; 
    background-color: #050505;
    background-size: cover;
    background-position: center;
    padding: 250px;
    text-align: center;
    color: rgb(26, 24, 24);
    z-index: 1; 
  
    padding: 20px;
  }
  
  .header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: -1; 
  }
  
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 36px; 
    font-weight: bold; 
    color: #ffd700; 
    font-family: 'Poppins', sans-serif; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px; 
  }
  
  .logo span:first-letter {
    font-size: 42px; 
    text-transform: uppercase; 
  }
  .logo:hover {
    transform: scale(1.1); 
    color: #ffa500; 
  }
  
  
  .nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
    
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;      
    font-size: 16px;
    transition: color 0.3s ease; 
    border-bottom: 2px solid transparent; 
  }
  
  /* Add hover effect for nav links */
  .nav-links a:hover {
    color: #ffd700;             
    border-bottom: 2px solid #ffd700; 
    padding-bottom: 2px;       
  }
  