.course-detail {}
.course-detail .course-media {}
.course-detail .course-media img {
    width: 100%;
}
.course-detail .file-list {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
}
.course-detail .file-list .file-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    margin: 8px 0;
}
.course-detail .file-list .file-item .file-download {
    margin-left: auto;
    margin-right: 0;
}


.typography {
    font-size: 16px;
    color: #000;
    line-height: 1.6;
}

.typography > * {
    font-family: inherit;
    margin: 0 0 16px 0;
}

.typography > :first-child {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.typography a {
    position: relative;
    color: #5084FC;
    text-decoration: underline;
    text-underline-offset: 20%;
    transition: .12s;
}
.typography a:hover {
    color: #507AFC;
    text-underline-offset: 5%;
}

.typography p {}
.typography h3,
.typography h4 {
    
}

.typography h3 {}
.typography h4 {}

.typography ul {
    list-style: outside;
    padding-left: 20px;
}

.typography ul li + li {
    margin-top: calc(16px / 4);
}

.typography img {}


.course-detail {
    padding: 20px;
    border-radius: 12px;
    transition: background 0.3s, color 0.3s;
}

.light-mode .course-detail {
    background-color: white;
    color: black;
}

/* Видаляємо білу рамку у темному режимі */
.dark-mode .course-detail {
    background-color: #000000;
    color: white;
    border: none;
    box-shadow: none;
}

.dark-mode.course-detail .typography {
    color: white;
}

.theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: rgb(27, 107, 227); 
}

.theme-toggle:hover,
.theme-toggle:focus {
    background: none;
    outline: none;
}
.course-tests {
    display: flex;
    justify-content: center;  /* Центрування по горизонталі */
    align-items: center;      /* Центрування по вертикалі */
}
  
.btn-test {
    display: inline-block;
    padding: 6px 12px;
    font-size: 0.875rem;
    color: #333;  /* Темно-сірий текст */
    background-color: transparent;
    border: 1px solid #333;  /* Тонка сіра рамка */
    border-radius: 20px;  /* Округлі кути */
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease; /* Плавний перехід для ефектів */
}

.btn-test:hover {
    color: #fff;  /* Білий текст на наведенні */
    background-color: #333;  /* Темно-сірий фон на наведенні */
    border-color: #333;  /* Колір рамки залишиться тим самим */
}

/* Темний режим - синя рамка */
.dark-mode .btn-test {
    color: #fff;  /* Білий текст */
    border-color: #007bff; /* Синя рамка */
}

.dark-mode .btn-test:hover {
    background-color: #007bff; /* Синій фон при наведенні */
    color: #fff;
}
  
  


  
